/* Root Variables */
:root {
  --header-height: 110px;
  --navbar-height: 12vh;
  --dot-size: 10px;
  --dot-active-scale: 1.2;
  --transition-duration: 0.3s;
  --hero-text-color: white;
  --dot-color: rgba(255, 255, 255, 0.7);
  --dot-active-color: white;
}

/* General Styles */
body {
  height: 200vh;
  margin: 0;
  font-family: var(--font-family);
}

/* Background Image Container */
.background_set {
  width: 100%;
  height: calc(100vh + var(--header-height));
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image var(--transition-duration) ease-in-out;
  background-image: url(''), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); /* Gradient overlay */
}

.background_set::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust overlay opacity */
}

/* Hero Container */
.hero-container {
  position: relative;
  height: calc(100vh + var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-logo {
  height: 25vw;
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-out var(--transition-duration);
  z-index: 3;
  color: var(--hero-text-color);
}

.scrolled .hero-logo {
  top: 7.5vh;
  height: 18vh;
  color: black;
  transition: ease-in var(--transition-duration);
}

.tag_bottom.hidden {
  display: none;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  z-index: 2;
  transition: opacity var(--transition-duration) ease;
}

.navbar.scrolled {
  opacity: 1;
}

.navbar-left,
.navbar-right {
  display: flex;
  margin: 0 50px;
  gap: 50px;
}

.navbar-item {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  transition: color var(--transition-duration);
}

.navbar-item:hover {
  color: gray;
}

/* Hero Text */
.herotext-container {
  position: absolute;
  z-index: 1;
  height: calc(100vh + var(--header-height));
  width: 100%;
  text-align: center;
}

.hero_text {
  color: var(--hero-text-color);
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: ease-out 0.5s;
}

.scrolled .hero_text {
  top: 60%;
  opacity: 1;
}

/* Dots for Background Navigation */
.dots-container {
  position: absolute;
  width: 100%;
  bottom: 30%;
  display: flex;
  justify-content: center;
  gap: 10px;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-in-out;
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color var(--transition-duration), transform var(--transition-duration);
}

.dot.active {
  background-color: var(--dot-active-color);
  transform: scale(var(--dot-active-scale));
}

/* Button Styles */
.shop-button {
  text-decoration: underline;
  color: var(--hero-text-color);
  font-size: 20px;
  margin-top: 20%;
  vertical-align: middle;
  cursor: pointer;
}

.shop-button svg {
  margin-left: 10px;
  /* Adds space between the text and the icon */
}


@media only screen and (max-width: 992px) {
  .scrolled .hero-logo {
    height: 16vh;
    top: 6.5vh;
  }

  .navbar {
    height: 10vh;
  }

  .navbar-item {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 830px) {
  .scrolled .hero-logo {
    height: 14vh;
    top: 6vh;
  }

  .navbar {
    height: 9vh;
  }

  .navbar-item {
    font-size: 0.8rem;
  }

  .hero_text {
    font-size: 3.5rem;
  }
}

/* Hamburger Icon */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2.5vh;
  transition: transform 0.3s ease;
  margin-right: 5%;
}

.hamburger.open {
  transform: rotate(180deg);
  /* Animation for rotating the hamburger to cross */
}

.side-menu {
  display: none;
}

@media (max-width: 768px) {

  .scrolled .hero-logo {
    left: 5%;
    height: 12vh;
    transform: translate(0%, -50%);
    top: 5.6vh;
  }

  .navbar-left,
  .navbar-right {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 2.8vh;
    z-index: 10;
  }

  /* Side Menu */
  .side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* Initially hidden */
    width: 100%;
    height: 100%;
    background-color: #ccc7c4;
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: right 0.3s ease-in-out;
  }

  .side-menu.open {
    right: 0;
  }

  .side-menu-item {
    position: relative;
    top: var(--header-height);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 15px 0;
    transition: color 0.3s;
    margin: 5%;
  }

  .side-menu-item:hover {
    color: gray;
  }
}

