.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    margin-top: 100px;
}

.about-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.about-image {
    width: 50%;
    object-fit: cover;
}

.about-text {
    margin-left: 20px;
    max-width: 50%;
    padding: 20px;
}

.about-text h2 {
    margin-bottom: 50px;
    font-weight: 500;
}

.about-button {
    position: relative;
    top: 20px;
    color: rgb(3, 0, 0);
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    text-decoration: underline;
}

.about-button:hover {
    color: rgb(54, 54, 54);
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack the container vertically */
        margin-top: 30px;
    }

    .about-content {
        flex-direction: column; /* Stack the content vertically */
        align-items: center;
    }

    .about-image {
        width: 100%; /* Make the image take full width */
        margin-bottom: 20px; /* Add space below the image */
    }

    .about-text {
        margin-left: 0; /* Remove the left margin */
        max-width: 100%; /* Allow text to take full width */
        text-align: center; /* Center the text */
    }

    .about-button {
        top: 10px; /* Adjust the top position */
        font-size: 18px; /* Increase font size for readability */
    }
}
