.navbar-logo {
  width: 100%; /* Ensure it takes full width of the navbar */
  text-align: center;  /* Center the logo horizontally */
  margin-bottom: 10px; /* Optional, adjust the space between logo and navbar options */
}

.logo-img {
  height: 3.9vh; /* Adjust the size of the logo */
  width: auto;
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translate( -50%);
  z-index: 99999999;
}
@media only screen and (max-width: 830px){
  .logo-img {
    height: 3.3vh; /* Adjust the size of the logo */
  }
}
@media only screen and (max-width: 786px){
  .logo-img {
    height: 4.5vh; /* Adjust the size of the logo */
    top: 2.8vh;
  }
}
@media only screen and (max-width: 550px){
  .logo-img {
    height: 3.5vh; /* Adjust the size of the logo */
    top: 2vh;
  }
}