/* Navbar Container */
.navbar-glob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 14vh;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 1;
    z-index: 2;
    transition: opacity var(--transition-duration) ease;
  }
  
  .navbar-glob-center {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 50px;
    text-align: center;
  }

  .navbar-glob-item{
    text-decoration: none;
    color: black;
  }
  
  .navbar-glob-right {
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
    margin-right: 5vh;
  }
  
  /* Side Menu */
  .side-menu-glob {
    position: fixed;
    top: 0;
    right: 100%; /* Initially off-screen */
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 14vh;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out; /* Smooth sliding transition */
    z-index: 5;
  }
  
  .side-menu-glob.open {
    right: 0; /* Slide in from the right */
  }
  
  /* Side Menu Items */
  .side-menu-glob-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: color 0.3s;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .side-menu-glob-item:hover {
    background-color: rgba(185, 184, 184, 0.1);
  }
  
  .login-container-glob {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-container-glob button {
    background-color: #3f3f3f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: normal;
    transition: background-color 0.3s;
  }
  
  .login-container-glob button:hover {
    background-color: rgb(74, 74, 74);
  }
  
  /* Hamburger Icon */
  .hamburger-glob {
    display: none;
    cursor: pointer;
    font-size: 2.5vh;
    transition: transform 0.3s ease;
    margin-right: 5%;
  }
  
  .hamburger-glob.open {
    transform: rotate(180deg);
    font-size: 3.2vh;
  }
  
  @media (max-width: 768px) {
    .navbar-glob-center {
      display: none;
    }
  
    .hamburger-glob {
      display: block;
      position: absolute;
      left: 20px;
      top: 2.8vh;
      z-index: 10;
    }
  
    .side-menu-glob {
      padding-top: 9vh; /* Adjust padding to fit content under the navbar */
    }
  
    .side-menu-glob.open {
      right: 0; /* Side menu will be visible when open */
    }
  }
  