.rec_tex h1 {
    font-weight: normal;
    margin: 5vh;
    font-size: 1.5rem;
}

.recommend-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    width: 100%;
    margin: 0 auto;
  }
  
  .recommend-item {
    position: relative;
    cursor: pointer; /* Make it look clickable */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center the content */
  }
  
  .product-link {
    text-decoration: none; /* Remove underline from anchor */
    color: inherit; /* Inherit color from parent */
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents image overflow */
  }
  
  .recommend-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container without distortion */
    transition: transform 0.3s ease-in-out; /* Smooth scaling */
  }
  
  .recommend-item:hover .recommend-image {
    transform: scale(1.1); /* Zoom on hover */
  }
  
  .product-name {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333;
    text-overflow: ellipsis;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap; /* Prevents long text from wrapping */
  }
  

.rec-descover {
    text-align: center;
    margin: 6vh;
}

.rec-descover a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 5px 30px;
}